#parent{
    height: 500px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 200px auto;
}
input{
    width: 98%;
    height: 40px;
    border-radius: 4px;
    font-size: 30px;
}
label{
    font-size:30px;
}
button{
    display: block;
    margin: 40px auto;
    font-size: 30px;
    height: 60px;
    width:130px;
}
a{
    text-decoration: none;
}